<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-bhfae" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>bhfae</name>
    <js-module name="bhfae" src="www/bhfae.js">
        <clobbers target="Bhfae"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="Bhfae">
                <param name="android-package" value="com.bhfae.Bhfae"/>"/>
            </feature>
        </config-file>

        <source-file src="src/android/Bhfae.java" target-dir="src/com/bhfae"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Bhfae">
                <param name="ios-package" value="Bhfae"/>
            </feature>
        </config-file>
        <source-file src="src/ios/Bhfae.h"/>
        <source-file src="src/ios/Bhfae.m"/>
    </platform>
</plugin>
